<nav class="navbar navbar-dark bg-primary mt-2">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{title}}</span>
        <form class ="d-flex">
            <input name="textListFilter" class="form-control me2" type="text" placeholder="Filter" [(ngModel)]="listFilter">
        </form>

    </div>
</nav>

<div class="card mt-3">
    <div class="card-body">
        Filtering by: {{listFilter}}
    </div>
</div>

@if (products != null && products.length > 0) {
<div class="mt-3">
    <button class="btn btn-primary" (click)="toggleImages()">{{areImagesVisible ? 'Hide' : 'Show'}} images</button>
</div>

<div class="table-responsive mt-3">
    <table class="table">
        <thead>
            <tr>
                @if (areImagesVisible) {
                    <th>Item Image</th>
                }
                <th>Code</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Release Date</th>
                <th>Star Rating</th>
            </tr>
        </thead>
        <tbody>
            @for (product of products; track product.code) {
                <tr>
                    @if (areImagesVisible) {
                        <td>
                                <img 
                                [src]="product.imageUrl" 
                                [style.width.px]="imageWidth"
                                [style.margin.px]="imageMargin"
                                [title]="product.name | uppercase"
                                [alt]="product.description"
                            >
                        </td>
                    }
                    <td>{{product.code | uppercase | convertToSpace:'-'}}</td>
                    <td>{{product.name | lowercase}}</td>
                    <td>{{product.price | currency:'EUR':'symbol':'1.2-2'}}</td>
                    <td>{{product.releaseDate | date}}</td>
                    <td>{{product.starRating}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

<!-- <div class="mt-5 mb-3">
    <h3>Working with interpolation</h3>
</div>

<div class="mt-2">
    <p>{{'Hello welcome to ' + 'Angular data binding'}}</p>

    <p>{{100*80}}</p>

    <p style.color="{{color}}">This is colored</p>
</div>

<div class="mt-5 mb-3">
    <h3>Working with property binding</h3>
</div>

<div class="mt-2">
    <p [innerText]="title"></p>
    <p [innerText]="'Hello and welcome to ' + 'Angular data binding'"></p>
    <p [style.color]="color">This is colored</p>
</div> -->